--- 
import Layout from '../layouts/Layout.astro';
import { getCurrentLeagueResults } from "../helpers/getCurrentLeagueResults";

const results = await getCurrentLeagueResults();
console.log(results);

---

<Layout title="RemCat">
    <div>
        <h1 class=" text-white">INICIO</h1>
    </div>
</Layout>