--- 
import Layout from '../layouts/Layout.astro';
import { getCurrentLeagueResults } from "../helpers/getCurrentLeagueResults";
import { getYearFromDate } from "../helpers/getYearFromDate";

const league = await getCurrentLeagueResults(getYearFromDate(new Date));
console.log(league);


---

<Layout title="RemCat">
    <div>
        <h1 class=" text-white">INICIO</h1>
    </div>
</Layout>