---
import type { TCompetitionResults } from '../types/TCompetitionResults'

interface Props {
    category: string,
    results: TCompetitionResults[]
}
const { category, results } = Astro.props
---
<article>
    <h1>{category}</h1>
    <ul>
      {
        results.map((result) => {
          return <li>{result.team_id} / {result.time}</li>;
        })
      }
    </ul>
  </article>
  