---
---

<header class="py-8 px-4 mx-auto max-w-xl lg:py-5 lg:px-6">
    <div class="mx-auto text-center mb-8 lb:mb-16">
        <h2 class="mb-4 text-5xl tracking-light font-extrabold text-white">
            RemCat 
        </h2>
        <p class="font-light text-gray-500 sm:text-xl dark:text-gray-400">
            Web de la federación calalana de remo
        </p>
    </div>

    <nav class="flex items-center justify-between w-full text-center md:flex-row">
        <a href="/" class="text-white">Inicio</a>
        <a href="/competitions" class="text-white">Calendario</a>
        <a href="/competitions" class="text-white">Resultados</a>
        <a href="/teams" class="text-white">Equipos</a>
    </nav>
</header>

