---
import type { TCompetitionResults } from '../types/TCompetitionResults'
import Tabs from './Tabs'

interface CategoryResults {
  true: TCompetitionResults[];
  false: TCompetitionResults[];
}

interface Props {
  categories: string[];
  results: any;
}

const { categories, results } = Astro.props
let tabsData = []
categories.forEach(category => {
  tabsData.push({title: category, content: results[category]})
});
console.log(tabsData);

---
<div class="flex justify-center align-items-center h-full w-full">
  <Tabs tabs={tabsData} client:visible />
</div>

