---
// TODO: 
//  - Subir imagenes 
import AdminLayout from "../../../layouts/AdminLayout.astro";

import { BOAT_TYPES } from '../../../consts/BoatTypes';

import { add } from "../../../models/competition";

export const prerender = false

if (Astro.request.method === 'POST') {
  // parse form data
    const formData = await Astro.request.formData();
  
    const inserted = await add(formData);

    if(inserted){
        return Astro.redirect("/admin/teams");
    }
}
---
<AdminLayout title="Teams">
    <div class="flex h-full ">
        <aside class=" h-full w-1/5 lg:block hidden bg-slate-700" transition:persist>
            <nav>
                <ul>
                    <li><a href="/admin/teams">Volver</a></li>
                    <li><input type="text" name="" id="a" placeholder="Bucar..."></li>
                    <li><input type="checkbox" name="" id="">Solo activos</li>
                </ul>
            </nav>
        </aside>
        <section class="max-h-full h-full lg:w-4/5 w-5/5 overflow-auto">
            <nav class="lg:hidden flex" transition:persist>
                <ul class="flex">
                    <li><a href="/admin/teams">Volver</a></li>
                    <li><input type="text" name="" id="" placeholder="Bucar..."></li>
                    <li><input type="checkbox" name="" id="">Solo activos</li>
                </ul>
            </nav>
            <div class="w-full max-w-full flex justify-center items-center h-full">
                <form action="#" method="POST" enctype="multipart/form-data" class="bg-slate-700 w-3/5 rounded-md py-10 px-10">
                    <label class="flex flex-col p-5" for="name">
                        Name
                        <input type="text" name="name" id="name">
                    </label>
                    <label class="flex flex-col p-5" for="date">
                        Fecha
                        <input type="date" name="date" id="date" min="">
                    </label>
                    <label class="flex flex-col p-5" for="location">
                        Ubicacion
                        <input type="text" name="location" id="location">
                    </label>
                    <label class="flex flex-col p-5" for="lines">
                        Calles
                        <input type="number" name="lines" id="lines" value="4">
                    </label>
                    <label class="flex flex-col p-5" for="line_distance">
                        Distancia entre boyas (m)
                        <input type="number" name="line_distance" id="line_distance" value="350">
                    </label>
                    <label class="flex flex-col p-5" for="line_distance">
                        Tipo de embarcacion
                        <select name="boat_type" id="boat_type">
                            {
                                BOAT_TYPES.map(boat_type => (
                                    <option value={boat_type.type}>{boat_type.name}</option>
                                ))
                            }
                        </select>
                    </label>
                    <label class="flex flex-col p-5" for="image">
                        Image
                        <input type="file" name="image" id="image">
                    </label>
                    <div class="flex  p-5">
                        <button class="bg-blue-500 rounded px-20 py-2">Enviar</button>
                    </div>
                </form>
            </div>
        </section>
    </div>
</AdminLayout>