---
import { db, Competition } from "astro:db";
import AdminLayout from "../../layouts/AdminLayout.astro";
import type { TCompetition } from "../../types/TCompetition";

const COMPETITIONS: TCompetition[] = await db.select().from(Competition);
export const prerender = false
console.log(COMPETITIONS);


---
<AdminLayout title="Competitions">
    <div class="flex h-full ">
        <aside class=" h-full w-1/5 lg:block hidden bg-slate-700" transition:persist>
            <nav>
                <ul>
                    <li><a href="/admin/competitions/add">+ Añadir</a></li>
                    <li><input type="text" name="" id="a" placeholder="Bucar..."></li>
                    <li><input type="checkbox" name="" id="">Solo activos</li>
                </ul>
            </nav>
        </aside>
        <section class="max-h-full h-full lg:w-4/5 w-5/5 overflow-auto">
            <nav class="lg:hidden flex" transition:persist>
                <ul class="flex">
                    <li><a href="/admin/competitions/add">+ Añadir</a></li>
                    <li><input type="text" name="" id="" placeholder="Bucar..."></li>
                    <li><input type="checkbox" name="" id="">Solo activos</li>
                </ul>
            </nav>
            <div class="w-full max-w-full grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4 place-items-center mt-4">
                {
                COMPETITIONS.map((team) => (
                    <article>
                        
                        <h2>{team.name}</h2>
                        
                    </article>
                ))
                }
            </div>
        </section>
    </div>
</AdminLayout>